body {
    font-family: sans-serif;
}
#oleraceas {
    display: flex;
    flex-direction: row;
}

.main-section {
    max-width: 500px;
    margin:8px;
    text-align: center;
    background-color: seagreen;
}