body {
    font-family: sans-serif;
    background-color: #e8c452;
    color: #04756F;
}

header {
    background-color: #004C66;
    color: #e8c452;
    padding: 5px;
}

main {
    background-color: #ACEBAE;
    padding: 5px;
}

#buttons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main-section {
    max-width: 300px;
    margin:8px;
    padding: 5px;
    text-align: center;
    background-color: #008C74;
    color: #332B40;
    border-radius: 5%;
}